@model MVC_02.Models.Test

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestID" />
            <div class="form-group">
                <label asp-for="TestDescription" class="control-label"></label>
                <input asp-for="TestDescription" class="form-control" />
                <span asp-validation-for="TestDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestDate" class="control-label"></label>
                <input asp-for="TestDate" class="form-control" value="@Model.TestDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="TestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
